.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.ToDoInput {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ToDoInput > * {
  /* Target all child elements */
  margin-right: 10px;
  font-size: 20px;
}

.ToDoInput > *:last-child {
  /* Remove margin from the last element */
  margin-right: 0;
}

.ToDoList {
  width: 30%;
  text-align: center;
}

.ToDoListItem {
  font-size: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  margin-right: 10px;
  margin-left: 10px;
}

.Divider {
  margin-top: 10px;
  height: 2px;
  background-color: #ddd;
}

p {
  font-size: 20px;
  margin-bottom: 10px;
}
